#dlg-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background: #e6e6e6;
    padding: 3px;
    gap:5px;
}

#about-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6px;
    user-select: none;
    cursor: move;
    font-size: 18px;
    flex: 1 1 100%;
}

#dlg-frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    margin: 10px;
    overflow-y: auto;
}

#details {
    flex: 1 1 auto;
    overflow: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

#list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.data-rec {
    padding: 6px 2px 6px 10px;
    font-size: 18px;
    border-bottom: solid 1px #ededed;
    user-select: none;
}

