<div class="all-app">
    <div id="toolbar-frame">
        <div id="app-title">
            bridge
        </div>
        <div id="scrollSel">
            <mat-select (selectionChange)="scrollSelChange($event)"
                        [(value)]="selScroll">
                <mat-option *ngFor="let scroll of scrolls" [value]="scroll">
                    {{scroll.name}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div id="main-container">
        <div id="side-bar">
            <button class="side-button"
                    mat-button
                    (click)="onEditScrollsClick()">
                <mat-icon fontSet="material-icons-round">swap_vert</mat-icon>
            </button>
            <button class="side-button"
                    mat-button
                    (click)="editBinds()">
                <mat-icon fontSet="material-icons-round">link</mat-icon>
            </button>
            <button class="side-button"
                    mat-button
                    (click)="editThermostats()">
                <mat-icon fontSet="material-icons-round">thermostat</mat-icon>
            </button>
            <button class="side-button"
                    mat-button
                    (click)="showLogs()">
                <mat-icon fontSet="material-icons-round">notes</mat-icon>
            </button>
        </div>
        <div id="plan-container" #containerRef>
            <div id="floor-plan" #floorPlanRef resizeObserver (resize)="onResize($event)">
                <div *ngFor="let keyVal of storage.attrMap | keyvalue;"
                     class="attr"
                     [ngStyle]="getAttrStyle(keyVal)"
                     cdkDrag
                     [cdkDragBoundary]="floorPlanRef"
                     (cdkDragEnded)="onDragEnded($event, keyVal)"
                     (cdkDragStarted)="onDragStarted($event, keyVal)"
                     [cdkDragFreeDragPosition]="getAttrPosition(keyVal)"
                     (mouseenter)="mouseEnterAttr(keyVal)"
                     (mouseleave)="mouseLeaveAttr()"
                     #dragRef=cdkDrag
                     [cdkContextMenuTriggerFor]="ctx_menu"
                     (cdkContextMenuOpened)="ctxMenuOpened(keyVal, dragRef)">
                        {{keyVal.value.formatedVal}}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        {{footerStatus}}
    </div>
    <div class="overlay" *ngIf="progressFlag">
        <div class="center">
            {{waitMsg}}
        </div>
    </div>
</div>

<ng-template #ctx_menu>
    <div cdkMenu class="ctx-menu">
        <button cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="setName(selAttr)">
            Name
        </button>
        <button *ngIf="corrFlag"
                cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="setCorr(selAttr)">
            Correction
        </button>
        <button cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="setStyles(selAttr)">
            Styles
        </button>
        <button *ngIf="ctrlFlag"
                cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="showSSR()">
            On/Off
        </button>
        <button *ngIf="graphFlag"
                cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="graph(selAttr)">
            Graph
        </button>
        <button *ngIf="moveFlag"
                cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="moveElement()">
            Move
        </button>
        <button cdkMenuItem
                class="ctx-menu-item"
                (cdkMenuItemTriggered)="showAbout()">
            About
        </button>
    </div>
</ng-template>


