.all-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

#toolbar-frame {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    gap: 10px;
    background-color: white;
    padding: 5px;
}

#app-title {
    flex: 1 1 100%;
    text-align: left;
}

#scrollSel {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 4px;
}

#main-container {
    //border: 2px solid green;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: stretch;
    overflow: hidden;
}

#side-bar {
    height: 100%;
    border-right: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: stretch;
    overflow: auto;
    padding: 5px;
    gap: 10px;
}

.side-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border: 1px solid lightgray;
    padding: 0 5px;
}

#plan-container {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    overflow: auto;
    padding-right: 1px;
    //border: 2px solid rgb(3, 111, 253);
}

#floor-plan {
    flex: 1 1 auto;
    margin: 0;
    position: relative;
}

.attr {
    position: absolute; // very important
    cursor: move;
    white-space: nowrap;
    user-select: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid lightgray;
    gap: 10px;
    background-color: white;
    padding: 5px;
    padding-right: 10px;
    //z-index: 100;
    min-height: 30px;
    font-size: 14px;
}

.mat-icon {
    font-size: 32px;
    height: 32px;
    width: 32px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: yellow;
    font-size: 40px;
}

.overlay {
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}

.ctx-menu {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(220, 220, 220);
}
.ctx-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}
.ctx-menu-item:focus {
    outline: 0px solid transparent;
  }
.ctx-menu-item:hover {
    background-color: rgb(208, 208, 208);
}
.ctx-menu-item:active {
    background-color: rgb(170, 170, 170);
}

