#dlg-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  background: #e8e8e8;
  padding: 3px;
  gap:5px;
}

#edit-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  user-select: none;
  cursor: move;
  font-size: 16px;
  flex: 1 1 100%;
}

#dlg-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  //height: 60vh;
  padding: 10px;
  overflow-y: scroll;
  gap: 10px;
}

.cards-common {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  gap: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
}

.set-actions {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1 0 100%;
  padding: 10px;
  background: #e8e8e8;
}
