/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming';
@import 'material-icons/iconfont/material-icons.css';

html, body {
  height: 100%;
}

@font-face {
  font-family: appFont;
  src: url("assets/fonts/VarelaRound-Regular.ttf");
  //font-style: normal;
  //font-weight: normal;
}

* {
  font-family: appFont;
  box-sizing: border-box;
}

body {
  margin: 0;
  //font-family: appFont, sans-serif;
  overflow: hidden;
}

.attr-tooltip {
  //font-family: appFont;
  white-space: pre;
  font-size: 15px;
  color: black !important;
  background-color: lightgray;
  user-select: none;
}

.bind-tooltip {
  //font-family: appFont;
  white-space: pre;
  font-size: 15px;
  color: black !important;
  background-color: lightgray;
  user-select: none;
}

.set-styles-container .mat-dialog-container {
  padding: 0;
}

.edit-scrolls-container .mat-dialog-container {
  padding: 0;
}

.set-dns-container .mat-dialog-container {
  padding: 0;
}

.edit-binds-container .mat-dialog-container {
  padding: 0;
  resize: horizontal;
  min-width: 350px;
}

.edit-thermostats-container .mat-dialog-container {
    padding: 0;
    resize: horizontal;
    min-width: 600px;
}

.show-logs-container .mat-dialog-container {
    //resize: horizontal;
    padding: 0;
}

.show-about-container .mat-dialog-container {
    padding: 0;
}

.show-ssr-container .mat-dialog-container {
    padding: 0;
}

.set-name-container .mat-dialog-container {
    padding: 0;
}

.set-corr-container .mat-dialog-container {
    padding: 0;
}

.graph-container .mat-dialog-container {
    //resize: horizontal;
    padding: 0;
}

.center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.right-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.app-card {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 5px;
}
.app-card-toolbar {
  gap: 10px;
  font-size: 0.9em;
  border-bottom : solid 1px black;
  padding: 8px;
}
.app-card-title {
  flex: 1 1 auto;
  align-self: stretch;
  font-size: 140%;
  padding-left: 10px;
}

// test
/*
::-webkit-scrollbar {
    -webkit-appearance: none;
}
*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.mat-select-trigger {
    min-width: 100px;
}
.mat-select-value {
    text-align: right;
    padding-right: 5px;
}
/*
.overflow-scroll {
    overflow-y: auto !important;
}
*/
// end test
